<div class="container">
  <ul class="nav-categorys">
    <li class="all-cat">
      <span class="categories-hidden">
        <ul>
          <li class="hid-first-cat"><a href="#">Fruits & vegetables</a></li>
          <li><a href="#">dairy & cheeses</a></li>
          <li><a href="#">Seeds & nuts</a></li>
          <li><a href="#">Meats & chickens</a></li>
          <li><a href="#">Natural Honey</a></li>
          <li><a href="#">Beverages</a></li>
          <li><a href="#">Health & Wellness</a></li>
          <li><a href="#">Bakery</a></li>
          <li><a href="#">Baby Foods</a></li>
        </ul>
      </span>
      <a href="#"><i class="bi bi-bricks"></i> All Categories</a>
    </li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Stores</a></li>
    <li><a href="#">Best Sales</a></li>
    <li><a href="#">Shop by Brands</a></li>
    <li><a href="#">Shop</a></li>
    <li><a href="#">Features</a></li>
    <li><a href="#">Gift Card</a></li>
  </ul>
</div>
